/* Container component's style */
.container {
    width: 100%;
    max-width: none;
    /* This will restrict all children, including the contact container */
    margin: 0 auto;
}

/* Contact section's style, separate from the main .container style */
.contact-container {
    max-width: none; /* This will allow the contact container to be as wide as its content up to 100% of the parent width */
    width: 100%;
    /* Additional styling specific to the contact section */
    /* ... */
  }

.contactContainer {
    background-color: #1a1a1a;
    /* Match this to your site's dark theme background */
    color: #fff;
    /* Adjust text color as needed */
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    /* This will ensure the container takes the full width of its parent */
    max-width: 1200px;
    /* You can set this to any max size you prefer */
    margin: 0 auto;
    /* This centers the container */
    padding: 20px;
}

.contactTitle {
    margin-bottom: 1rem;
    text-align: center;
}

.contactForm input,
.contactForm textarea,
.contactForm button {
  padding: 1rem; /* Increased padding for larger touch area */
  background-color: #333;
  border: 1px solid #444;
  color: #fff;
  border-radius: 4px;
  font-size: 1rem; /* Adjust font size as needed */
  line-height: 1.5; /* For better readability */
  width: 100%; /* This will make the input fields fill the container */
  /* Removed min-width: 800px; */
}

/* If you want to specify the height of the input */
.contactForm input {
  height: 50px; /* or any other value that fits your design */
}

/* For the textarea, you can specify a minimum height */
.contactForm textarea {
  min-height: 150px; /* or any other value that fits your design */
}

.contactForm button {
  padding: 1rem 2rem;
  background-color: #b38000; /* Adjust to your primary color */
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase; /* Optional: style preference */
  /* Ensure button takes the full width for consistency */
  width: 100%; /* Add this if you want the button to match the inputs' width */
}

.contactForm button:hover {
  background-color: #ffb700; /* Darken on hover */
}